.callback {
    font-family: var(--font-satoshi);
    font-size: 16px;
}
.callback__form {
    display: flex;
    justify-content: center;
}
.callback__inp {
    background-color: var(--light-gray);
    line-height: 21.6px;
    color: #2A254B33;
    width: 354px;
    padding: 17px 30px;
}
.callback__btn {
    background-color: var(--dark-primary);
    color: var(--white);
    width: 118px;
    line-height: 24px;
}

.callback__inp--w {
    background-color: #FFFFFF26;
    color: var(--white);
}
.callback__btn--w {
    background-color: var(--white);
    color: var(--dark-primary);
}

@media (max-width: 850px) {
    .callback__inp {
        width: 320px;
        padding: 15px 25px;
    }
}


@media (max-width: 550px) {
    .callback__inp {
        width: 160px;
        padding: 10px;
    }
    .callback__btn {
        width: 80px;
    }
}