<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Callback Forms</title>
    <link rel="stylesheet" href="/fonts/ClashDisplay/clash-display.css">
    <link rel="stylesheet" href="/fonts/Satoshi/satoshi.css">
    <link rel="stylesheet" href="/css/reset_styles.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/components/blocks/callback.css">
    <link rel="stylesheet" href="/css/components/callbackForms.css">
</head>

<body>
    <section class="callback-form">
        <div class="callback-form__container container">
            <div class="callback-form__top">
                <h1 class="callback-form__title">Join the club and get the benefits</h1>
                <p class="callback-form__text">
                    Sign up for our newsletter and receive exclusive offers on new ranges, sales, pop up stores and more
                </p>
            </div>
            <div class="callback callback-form__forms">
                <form class="callback__form callback-form__form">
                    <input class="callback__inp callback-form__inp" type="text" placeholder="your@email.com">
                    <button class="callback__btn callback-form__btn">Sign up</button>
                </form>
            </div>
        </div>
    </section>
</body>

</html>