<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/fonts/ClashDisplay/clash-display.css">
    <link rel="stylesheet" href="/fonts/Satoshi/satoshi.css">
    <link rel="stylesheet" href="/css/reset_styles.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/components/callbackForms.css">
    <link rel="stylesheet" href="/css/components/components_elements/callback.css">
    <link rel="stylesheet" href="/css/components/footer.css">
</head>

<body>
    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__top">
                <div class="footer__left">
                    <div class="footer__menu">
                        <nav class="footer__nav-menu">
                            <ul class="footer__nav-menu-list">
                                <li class="footer__menu-item footer__menu-item--first">
                                    <a href="#" class="footer__menu-item-link">
                                        Menu
                                    </a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" class="footer__menu-item-link">
                                        New arrivals
                                    </a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" class="footer__menu-item-link">
                                        Best sellers
                                    </a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" class="footer__menu-item-link">
                                        Recently viewed
                                    </a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" class="footer__menu-item-link">
                                        Popular this week
                                    </a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" class="footer__menu-item-link">
                                        All products
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- footer__menu -->

                    <div class="footer__categories">
                        <nav class="footer__nav-categories">
                            <ul class="footer__nav-categories-list">
                                <li class="footer__nav-categories-item footer__nav-categories-item--first">
                                    <a href="#" class="footer__nav-categories-link">
                                        Categories
                                    </a>
                                </li>
                                <li class="footer__nav-categories-item">
                                    <a href="#" class="footer__nav-categories-link">
                                        Crockery
                                    </a>
                                </li>
                                <li class="footer__nav-categories-item">
                                    <a href="#" class="footer__nav-categories-link">
                                        Furniture
                                    </a>
                                </li>
                                <li class="footer__nav-categories-item">
                                    <a href="#" class="footer__nav-categories-link">
                                        Homeware
                                    </a>
                                </li>
                                <li class="footer__nav-categories-item">
                                    <a href="#" class="footer__nav-categories-link">
                                        Plant pots
                                    </a>
                                </li>
                                <li class="footer__nav-categories-item">
                                    <a href="#" class="footer__nav-categories-link">
                                        Chairs
                                    </a>
                                </li>
                                <li class="footer__nav-categories-item">
                                    <a href="#" class="footer__nav-categories-link">
                                        Crockery
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- footer__categories -->

                    <div class="footer__company">
                        <nav class="footer__nav-company">
                            <ul class="footer__nav-company-list">
                                <li class="footer__nav-company-item footer__nav-company-item--first">
                                    <a href="#" class="footer__nav-company-link">
                                        Our company
                                    </a>
                                </li>
                                <li class="footer__nav-company-item">
                                    <a href="#" class="footer__nav-company-link">
                                        About us
                                    </a>
                                </li>
                                <li class="footer__nav-company-item">
                                    <a href="#" class="footer__nav-company-link">
                                        Vacancies
                                    </a>
                                </li>
                                <li class="footer__nav-company-item">
                                    <a href="#" class="footer__nav-company-link">
                                        Contact us
                                    </a>
                                </li>
                                <li class="footer__nav-company-item">
                                    <a href="#" class="footer__nav-company-link">
                                        Privacy
                                    </a>
                                </li>
                                <li class="footer__nav-company-item">
                                    <a href="#" class="footer__nav-company-link">
                                        Returns policy
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- footer__company -->
                </div>
                <!-- End footer__left -->

                <div class="footer__right">
                    <div class="footer__right-container">
                        <p class="footer__text">Join our mailing list</p>
                        <div class="callback">
                            <form class="callback__form footer__callback">
                                <input class="callback__inp callback__inp--w footer__inp" type="text"
                                    placeholder="your@email.com">
                                <button class="callback__btn callback__btn--w footer__btn">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End footer__top -->
            <div class="footer__bottom">
                <div class="footer__copy">Copyright 2022 Avion LTD</div>
                <div class="footer__social">
                    <ul class="footer__social-list">
                        <li class="footer__social-item">
                            <a href="" class="footer__social-link">
                                <img src="../../source/макет/1_home page/footer/icons/LinkedIn.svg" alt="linkedin"
                                    class="footer__social-img">
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="" class="footer__social-link">
                                <img src="../../source/макет/1_home page/footer/icons/Facebook.svg" alt="facebook"
                                    class="footer__social-img">
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="" class="footer__social-link">
                                <img src="../../source/макет/1_home page/footer/icons/Instagram.svg" alt="instagram"
                                    class="footer__social-img">
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="" class="footer__social-link">
                                <img src="../../source/макет/1_home page/footer/icons/Skype.svg" alt="skype"
                                    class="footer__social-img">
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="" class="footer__social-link">
                                <img src="../../source/макет/1_home page/footer/icons/Twitter.svg" alt="twitter"
                                    class="footer__social-img">
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="" class="footer__social-link">
                                <img src="../../source/макет/1_home page/footer/icons/Pinterest.svg" alt="pinterest"
                                    class="footer__social-img">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- footer__social -->
            </div>
            <!-- footer__bottom -->
        </div>
        <!-- container -->
    </footer>
</body>

</html>