<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/fonts/ClashDisplay/clash-display.css">
    <link rel="stylesheet" href="/fonts/Satoshi/satoshi.css">
    <link rel="stylesheet" href="/css/reset_styles.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/components/header.css">
</head>

<body>
    <header class="header">
        <!-- header__top -->
        <div class="header__top">
            <div class="header__logo">
                <a href="#" class="header__logo-link">
                    <img class="header__logo-img" src="../source/макет/1_home page/header/logo.png" alt="">
                </a>
            </div>
            <div class="header__contacts">
                <ul class="header__contacts-nav">
                    <li class="header__contacts-item">About us</li>
                    <li class="header__contacts-item">Contact</li>
                    <li class="header__contacts-item">Blog</li>
                </ul>
                <div class="header__contacts-icons">
                    <a href="" class="header__contacts-icon">
                        <img class="header__contacts-icon-item"
                            src="../source/макет/1_home page/header/icons/Search.svg" alt="">
                    </a>
                    <a href="" class="header__contacts-icon">
                        <img class="header__contacts-icon-item"
                            src="../source/макет/1_home page/header/icons/Shopping--cart.svg" alt="">
                    </a>
                    <a href="" class="header__contacts-icon">
                        <img class="header__contacts-icon-item"
                            src="../source/макет/1_home page/header/icons/User--avatar.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- END header__top -->
        <!-- header__bottom -->
        <div class="header__bottom">
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__list-item">
                        <a href="" class="header__item-link">
                            All products
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__item-link">
                            Plant pots
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__item-link">
                            Ceramics
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__item-link">
                            Tables
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__item-link">
                            Chairs
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__item-link">
                            Crockery
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__item-link">
                            Tableware
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="" class="header__item-link">
                            Cutlery
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- END header__bottom -->
    </header>
</body>

</html>