<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular products</title>
    <link rel="stylesheet" href="/fonts/ClashDisplay/clash-display.css">
    <link rel="stylesheet" href="/fonts/Satoshi/satoshi.css">
    <link rel="stylesheet" href="/css/reset_styles.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/components/productCard.css">
    <link rel="stylesheet" href="/css/components/blocks/button.css">
    <link rel="stylesheet" href="/css/components/popularProducts.css">
</head>

<body>
    <section class="products">
        <div class="products__container container">
            <h3 class="products__title">Our popular products</h3>
            <div class="products__cards">
                <div class="products__card products__card--big card card">
                    <div class="card__pic">
                        <img class="card__img" src="../../source/макет/1_home page/4_Our popular products/1.png" alt="">
                    </div>
                    <p class="card__subtitle">The Poplar suede sofa</p>
                    <p class="card__price">£980</p>
                </div>
                <div class="products__card card">
                    <div class="card__pic">
                        <img class="card__img" src="../../source/макет/1_home page/4_Our popular products/2.png" alt="">
                    </div>
                    <p class="card__subtitle">The Dandy chair</p>
                    <p class="card__price">£250</p>
                </div>
                <div class="products__card card">
                    <div class="card__pic">
                        <img class="card__img" src="../../source/макет/1_home page/4_Our popular products/3.png" alt="">
                    </div>
                    <p class="card__subtitle">The Dandy chair</p>
                    <p class="card__price">£250</p>
                </div>
            </div>
            <button class="products__btn btn btn--light">View collection</button>
        </div>
    </section>
</body>

</html>