.header {
    font-family: var(--font-satoshi);
    color: #818181;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 29px;
    margin-bottom: 10px;
}
.header__contacts {
    display: flex;
}
.header__contacts-nav {
    display: flex;
    gap: 32px;
    margin-right: 47px;
    margin-top: -1px;
}
.header__contacts-icons {
    display: flex;
    gap: 16px;
    margin-right: 21px;
    margin-top: 6px;
}
.header__bottom {
    background-color: var(--light-gray);
}
.header__list {
    display: flex;
    justify-content: center;
    gap: 44px;
    padding: 20px 0;
}