.card {
    flex: 1 1 25%;
}
.card__pic {
    margin-bottom: 22px;
}
.card__img {
    width: 100%;
}
.card__subtitle {
    font-family: var(--font-clashdisplay);
    font-size: 20px;
    line-height: 28px;
    padding: 1px;
    margin-bottom: 5px;
}
.card__price {
    font-family: var(--font-satoshi);
    font-size: 18px;
    line-height: 27px;
    padding: 1px;
}

.card__img {
    cursor: pointer;
    transition: transform .3s;
}

.card__img:hover {
    transform: scale(0.98);
    opacity: 0.6;
}


@media (max-width: 850px) {
    .card {
        flex: 1 1 45%;
        margin-bottom: 30px;
    }
}

