<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Callback</title>
    <link rel="stylesheet" href="/fonts/ClashDisplay/clash-display.css">
    <link rel="stylesheet" href="/fonts/Satoshi/satoshi.css">
    <link rel="stylesheet" href="/css/reset_styles.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/components/blocks/button.css">
    <link rel="stylesheet" href="/css/components/blocks/callback.css">
</head>

<body>
    <div class="callback">
        <form class="callback__form">
            <input class="callback__inp" type="text" placeholder="your@email.com">
            <button class="callback__btn btn">Sign up</button>
        </form>
    </div>
    <br>
    <div class="callback">
        <form class="callback__form">
            <input class="callback__inp callback__inp--w" type="text" placeholder="your@email.com">
            <button class="callback__btn callback__btn--w btn btn--light">Sign up</button>
        </form>
    </div>
</body>

</html>